.Experience-header {
    background-color: #EAEEF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 20px 0 35px 0;
  }
  
  .Exp-Card-Overflow {
    height:260px;
    max-height:250px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  .Experience-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .Experience-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }